/* Please link to erefredag.se if you use any of this */
html {
    background-color: #111;
}

#body {
	color: #fff;
	background-color: #111;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	font-family: sans-serif;
	z-index: 1;
	overflow: hidden;
}

#body2 {
	color: #fff;
	background-color: #111;
	font-family: sans-serif;
	font-size: larger;
	margin: 2em;
}

#faq {
	font-weight: bold;
	text-align: center;
	width: 100%;
}

.question {
	margin: 0;
	padding: 0;
	padding-top: 1%;
	text-align: center;
	font-size: 8.9vw;
	width: 100%;
}

.answer {
	padding: 0;
	margin: 0;
	padding-top: 1%;
	font-size: 29vw;
}

#menu, #menu ul {
	font-size: 10pt;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 10;
	padding: 0;
	margin: 0;
}

#menu {
	margin: 1ex !important;
}

#menu li {
	text-align: right;
	list-style-type: none;
	padding: 0;
	margin: 0;
	white-space: nowrap;
}

#star {
	position: absolute;
	bottom: 1px;
	left: -27px;
	border: 0;
}

/*#menubutton {
	display: none;
}*/
.news {
	background-image: url("/pic/news.png");
	background-position: right top;
	background-repeat: no-repeat;
}

#nice {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	bottom: 1ex;
	left: 30%;
	text-align: center;
	z-index: 9;
	font-size: 10pt;
}


#poll {
	z-index: 10;
	position: absolute;
	bottom: 1em;
	left: 1em;
	width: 15%;
}

#poll h2 {
	font-size: 10pt;
	white-space: nowrap;
}

#poll p {
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

#poll a {
	display: inline-block;
	padding: 1ex;
	width: 5ex;
	margin: -3px;
	text-align: center;
	text-decoration: none;
	font-size: 10pt;
}

#poll table {
	width: 100%;
	border-collapse: collapse;
	border: 0;
}

.pollrow {
	white-space: nowrap;
	font-size: 10pt;
	line-height: 1.7ex;
}

.pollrow div {
	display: inline-block;
	background-color: #fff;
	height: 0.7em;
}

.pollrow .p1 {
	width: 6ex;
	text-align: center;
}

#tales {
	float: left;
	width: 50%;
}

#tales p {
	width: 90%;
	border: 1px solid #fff;
	padding: 0.5em;
}

.breadcrumb {
	font-size: small;
	text-align: right;
}

.screenie {
	float: right;
	clear: right;
	margin: 1em;
}

.sigpick {
	display: inline-block;
	white-space: nowrap;
	margin: 1em;
	width: 200px;
}

.code {
	background-color: white;
	color: black;
	display: inline-block;
	white-space: pre;
	padding: 0.5em;
}

.mh {
	font-weight: normal;
	font-size: 10pt;
	margin: 0;
}

a {
	cursor: pointer;
	display: inline-block;
	color: #fff;
	text-decoration: underline;
	padding: 0.8em 0.3em;
}

a:hover {
	color: #f3ffa2;
	text-decoration: none;
	background-color: #333;
	-moz-border-radius: 0.8em;
	-webkit-border-radius: 0.8em;
}

a img {
	border: 0;
	vertical-align: middle;
	margin: 0 1ex;
}

label {
	cursor: pointer;
	padding-right: 2em;
}

hr {
	color: white;
	border: 1px solid white;
}

.sec {
	opacity: 0;
	transition: opacity .4s ease-in-out;
}

.sec.active {
	opacity: 1;
}

/* Animations */
/*.answer.yes {
    animation: blink 1s steps(5, start) infinite;
    -webkit-animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink {
    to {
        visibility: hidden;
    }
}*/
